button{
  font: 600 16px/24px Poppins, sans-serif;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-400);
  color: var(--gray-100);
  border-radius: 8px;
  transition: 0.25s ease all;
  -webkit-transition: 0.25s ease all;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  height: 48px;
  min-width: 150px;
  text-transform: uppercase;
}
button:hover{
  background-color: var(--blue-500);
}
button.small{
  width: 150px;
  height: 48px;
}
button.medium{
  width: 50%;
  height: 48px;
}
button.large{
  width: 100%;
  height: 64px;
}

button.primary{
  background-color: var(--blue-400);
  color: var(--gray-100);
}
button.primary:hover{
  background-color: var(--blue-500);
}

button.secondary{
  background-color: transparent;
  color: var(--blue-400);
  border: 2px solid var(--blue-400);
}
button.secondary:hover{
  background-color: var(--blue-400);
  color: var(--gray-100);
}
button.terciary{
  color: var(--blue-400);
  background-color: transparent;
  border: 0;
  outline: 0;
}

button.terciary:hover{
  text-decoration: underline var(--blue-400) solid 3px;
}

button.success{
  background-color: var(--green-400);
}
button.success:hover{
  background-color: var(--green-500);
}
button.danger{
  background-color: var(--red-400);
}
button.danger:hover{
  background-color: var(--red-500);
}
button.warning{
  background-color: var(--orange-400);
}
button.warning:hover{
  background-color: var(--orange-500);
}
button.default{
  background-color: var(--gray-700);
}
button.default:hover{
  background-color: var(--gray-600);
}

button.secondary.success{
  border-color: var(--green-400);
  color: var(--green-400);
  background-color: transparent;
}
button.secondary.success:hover{
  color: var(--gray-100);
  background-color: var(--green-400);
}
button.secondary.default{
  border-color: var(--gray-700);
  color: var(--gray-700);
  background-color: transparent;
}
button.secondary.default:hover{
  color: var(--gray-100);
  background-color: var(--gray-700);
}
button.secondary.warning{
  border-color: var(--orange-400);
  color: var(--orange-400);
  background-color: transparent;
}
button.secondary.warning:hover{
  color: var(--gray-100);
  background-color: var(--orange-400);
}
button.secondary.danger{
  border-color: var(--red-400);
  color: var(--red-400);
  background-color: transparent;
}
button.secondary.danger:hover{
  color: var(--gray-100);
  background-color: var(--red-400);
}
button.terciary.success{
  color: var(--green-400);
  background-color: transparent;
}
button.terciary.success:hover{
  text-decoration-color: var(--green-400);
}

button.terciary.warning{
  color: var(--orange-400);
  background-color: transparent;
}
button.terciary.warning:hover{
  text-decoration-color: var(--orange-400);
}

button.terciary.danger{
  color: var(--red-400);
  background-color: transparent;
}
button.terciary.danger:hover{
  text-decoration-color: var(--red-400);
}

