@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('./reset.css');
@import url('./colors.css');
@import url('./dark.css');
@import url('./light.css');
@import url('./buttons.css');


html,
body,
#root{
  width: 100%;
  height: 100%;
}



h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}

h1{
  font: 700 48px/72px Poppins, sans-serif;
}
h2{
  font: 600 36px/54px Poppins, sans-serif;
}
h3{
  font: 600 32px/48px Poppins, sans-serif;
}
h4{
  font: 600 28px/42px Poppins, sans-serif;
}
h5{
  font: 600 24px/36px Poppins, sans-serif;
}
h6{
  font: 600 18px/27px Poppins, sans-serif;
}



a,
body,
input,
textarea{
  font: 400 16px/24px 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
}

strong, b{
  font-weight: 700;
}

small{
  font-size: 12px;
  line-height: 18px;
}

.success{
  color: var(--green-400);
}
.warning{
  color: var(--orange-400)
}
.danger{
  color: var(--red-400)
}


