#page-login{
  height: 100vh;
}
#page-login .container{
  height: 100%;
  max-width: 1190px;
  margin: 0 auto;
}

#page-login .left,
#page-login .right,
#page-login .left img{
  max-width: 100%;
}

#page-login .left,
#page-login .container,
#login,
#login .group-inputs input,
#forgotPassword a:hover .border{
  width: 100%;
}

#page-login .left img{
  max-height: 474px;
}

#page-login .right{
  width: 320px;
  min-width: 320px;
}

#login{
  margin-top: 64px;
}

#login .group-inputs{
  height: 64px;
  padding: 0 24px 0 24px;
  border-radius: 8px;
  background-color: var(--blue-600);
  margin-bottom: 24px;
}
#login .group-inputs ~ .group-inputs {
  margin-bottom: 8px;

}

#login .group-inputs label{
  width: 16px;
}

#login .group-inputs input{
  background-color: transparent;
  padding-left: 24px;
  color: var(--gray-100);
}

#forgotPassword{
  margin-bottom: 24px;
}
#forgotPassword a{
  position: relative;
}
#forgotPassword span{
  font-size: 12px;
  margin-left: 4px;
}
#forgotPassword .border{
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--gray-600);
  width: 0;
  height: 1px;
  transition: 0.25s linear;
}
