#menu{
  width: 82px;
  height: 100vh;

  position: fixed;
  left: 0;
  right: 0;

}

.dark #menu .icon-bar,
.dark #menu ul{
  border-color: var(--gray-100);
  
}
.light #menu .icon-bar,
.light #menu ul{
  border-color: var(--blue-600);

}

#menu .icon-bar,
#menu ul,
#menu ul li,
#menu ul li a{
  width: 100%;
}

#menu .icon-bar{
  height: 82px;
  background-color: var(--blue-400);
  border-bottom: 1px solid;
  border-right: 1px solid;
}

#menu .icon-bar img{
  width: 30px;
  max-width: 100%;
}

.dark #menu a{
  color: var(--gray-100);
}

.light #menu a{
  color: var(--blue-600);
}

#menu ul{
  height: calc(100vh - 82px);
  border-right: 1px solid;
}

#menu ul li{
  height: 100%;
  transition: 0.25s ease all;
  -webkit-transition: 0.25s ease all;
}
.dark #menu ul li.divider{
  border-bottom: 1px solid var(--gray-100)
}
.light #menu ul li.divider{
  border-bottom: 1px solid var(--blue-600)
}
#menu ul li.divider{
  height: 0;
}

#menu ul li a span{
  font-size: 12px;
  line-height: 16px;
}
#menu ul li:hover{
  background-color: var(--blue-400);
}
.light #menu ul li:hover a{
  color: var(--gray-100);
}